.featured {
  width: 100%;
  /* margin: 0 auto; */
  margin-top: 60px;
  margin-bottom: 300px;
}

.featured h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: var(--font-1);
  margin-bottom: 50px;
}

.featured p {
  color: white;
  font-size: 15px;
  font-family: var(--font-2);
}

.featured .featured-images {
  background-color: #18182c;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  display: flex;
  gap: 2rem;
  position: absolute;
  overflow: hidden !important;
  /* transform: translateX(-500px) !important; */
}

.featured-images img {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 200px;
  height: 200px;
  border-radius: 10px;
}

@media screen and (max-width: 780px) {
  .featured {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 230px;
  }
  .featured h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: var(--font-1);
    margin-bottom: 30px;
  }
  .featured-images img {
    min-width: 150px;
    height: 150px;
  }
  .featured .featured-images {
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    height: 200px;
  }
}
