.about-container {
  width: 100%;
  /* height: 100vh; */
  background-color: var(--secondary-background-color);
}

.about {
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
  z-index: 2;
}

.about h1 {
  font-family: var(--font-2);
  color: white;
  font-size: 60px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
}

.about h2 {
  color: var(--secondary-color);
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 25px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
}

.about .mission {
  margin: 0 auto;
  margin-top: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 7rem;
  margin-bottom: 150px;
}

.about .mission-text-content {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.about .mission-text:nth-child(1) {
  /* margin-top: 50px; */
  width: 60%;
  background-color: rgb(205, 218, 255);
  padding: 40px;
  border-radius: 20px;
}

.about .mission-text:nth-child(2) {
  margin-top: 50px;
  width: 80%;
  background-color: rgb(255, 224, 224);
  padding: 40px;
  border-radius: 20px;
}

.about .mission-text:nth-child(3) {
  margin-top: 50px;
  width: 100%;
  background-color: rgb(231, 255, 218);
  padding: 40px;
  border-radius: 20px;
}

.about .mission h3 {
  font-size: 30px;
  font-family: var(--font-2);
}

.about .mission h4 {
  font-size: 18px;
  font-family: var(--font-2);
}

.about .mission p {
  margin-top: 20px;
  color: var(--background-color);
  font-family: var(--font-1);
}

.about .mission img {
  position: absolute;
  width: 100%;
  height: 1200px;
  right: 0px;
  top: 80px;
  z-index: 0;
}

.about .mission .mission-image .mission-overlay {
  background-color: rgba(35, 23, 63, 0.7);
  position: absolute;
  width: 100%;
  height: 1200px;
  right: 0px;
  top: 80px;
  z-index: 1;
}

@media screen and (max-width: 1400px) {
  .about .mission-text {
    width: 100% !important;
  }
  /* .mission {
    gap: 0rem;
  } */
  .about .mission-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }
}

@media screen and (max-width: 800px) {
  .about .mission-text {
    padding: 30px !important;
  }
  .about .mission h3 {
    font-size: 20px;
  }

  .about .mission h4 {
    font-size: 15px;
  }

  .about .mission p {
    margin-top: 10px;
    font-size: 15px;
  }
  .about h1 {
    font-size: 40px;
  }

  .about h2 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 601px) {
  .about .mission {
    width: 100%;
    gap: 0rem;
  }
  .about .mission-text {
    padding: 0px !important;
    border-radius: 0px !important;
  }
  .about .mission h3 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .about .mission h4 {
    font-size: 15px;
    padding-left: 20px;
  }

  .about .mission p {
    margin-top: 10px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* padding-top: 20px; */
  }
}

/* TEAM */

.team {
  width: 100%;
  /* background-color: #231c42; */
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  /* padding-bottom: 60px; */
}

.team .team-content {
  margin: 0 auto;
  margin-top: 60px;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.team .team-content .staff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team .team-content .staff h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 24px;
  color: white;
  font-family: var(--font-2);
}

.team .team-content .staff h4 {
  font-size: 14px;
  color: white;
  font-weight: 500;
  font-family: var(--font-2);
}

.team .team-content .staff img {
  border-radius: 50px;
}

@media screen and (max-width: 1000px) {
  .team .team-content {
    margin: 0 auto;
    margin-top: 60px;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
  }
}

/* Contact us */

.team .about-contact {
  margin-top: 60px;
  width: 100%;
  height: 200px;
  /* background-color: rgb(31, 23, 59); */
  background-color: var(--background-color);
}

.team .about-contact h3 {
  padding-top: 30px;
  color: white;
  font-family: var(--font-1);
  font-size: 40px;
  text-align: center;
}

.team .about-contact h4 {
  color: var(--secondary-color);
  font-family: var(--font-1);
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}

.team .about-contact .contact-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.team .about-contact .contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-1);
  font-weight: bold;
  background-color: white;
  border: 3px solid white;
  color: var(--background-color);
  font-size: 25px;
  height: 50px;
  border-radius: 20px;
  width: 200px;
}

.team .about-contact .contact-btn:hover {
  transition: var(--transition);
  color: white;
  background: none;
}

@media screen and (max-width: 1000px) {
  .team .about-contact h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .team .about-contact h3 {
    font-size: 20px !important;
  }

  .team .about-contact h4 {
    font-size: 20px;
  }
}
